<div class="box_1">
  <app-search-bar 
    placeholder="O que você está procurando?" 
    buttonText="Adicionar Cliente"
    (buttonClick)="toggleCustomerModal()"
    (searchChange)="onSearchChange($event)"
    (searchSubmit)="onSearchSubmit($event)">
  </app-search-bar>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>CPF</th>
        <th>Criado em</th>
        <th>Atualizado em</th>
        <th>Alterar</th>
        <th>Excluir</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let customer of filteredCustomers">
        <td>{{ customer.id }}</td>
        <td>{{ customer.name }}</td>
        <td>{{ customer.cpf }}</td>
        <td>{{ customer.createdAt }}</td>
        <td>{{ customer.updatedAt }}</td>
        <td>
          <button class="btn_edit" (click)="openEditCustomerModal(customer)">Alterar</button>
        </td>
        <td>
          <button class="btn_delete" (click)="confirmDeleteCustomer(customer)">Excluir</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="modal_overlay" *ngIf="showDeleteConfirmationModal">
  <div class="modal_box">
    <h2>Confirmar Exclusão</h2>
    <p>Tem certeza de que deseja excluir o cliente "{{ customerToDelete?.name }}"?</p>
    <div class="form_actions">
      <button class="btn_delete_menu" (click)="deleteCustomer()">Excluir</button>
      <button class="btn_close" (click)="cancelDelete()">Cancelar</button>
    </div>
  </div>
</div>
<div class="modal_overlay" *ngIf="showCreateCustomerModal">
  <div class="modal_box">
    <h2>Adicionar Cliente</h2>
    <p class="error_message" *ngIf="errorMessage">{{ errorMessage }}</p>
    <form (ngSubmit)="createCustomer()">
      <div class="form_group">
        <label for="name">Nome:</label>
        <input
          type="text"
          id="name"
          [(ngModel)]="customer.name"
          name="name"
          required
        />
      </div>
      <div class="form_group">
        <label for="cpf">CPF:</label>
        <input
          type="text"
          id="cpf"
          [(ngModel)]="customer.cpf"
          name="cpf"
          required
          mask="000.000.000-00"
        />
      </div>
      <div class="form_actions">
        <button type="submit" class="btn_add">Salvar</button>
        <button type="button" class="btn_close" (click)="toggleCustomerModal()">Fechar</button>
      </div>
    </form>
  </div>
</div>
<div *ngIf="showEditCustomerModal" class="modal_overlay">
  <div class="modal_box">
    <h2>Editar Cliente</h2>
    <div class="form_group">
      <label for="name">Nome</label>
      <input id="name" [(ngModel)]="customerToEdit!.name" />
    </div>
    <div class="form_group">
      <label for="cpf">CPF</label>
      <input id="cpf" [(ngModel)]="customerToEdit!.cpf" />
    </div>
    <p class="error" *ngIf="errorMessage">{{ errorMessage }}</p>
    <div class="form_actions">
      <button class="btn_add" (click)="saveEditedCustomer()">Salvar</button>
      <button class="btn_close" (click)="showEditCustomerModal = false">Cancelar</button>
    </div>
  </div>
</div>