<header>
    <h1>ABP Frontend</h1>
</header>
<nav>
    <a href="/">Home</a>
    <a href="/products">Produtos</a>
    <a href="/suppliers">Fornecedores</a>
    <a href="/customers">Clientes</a>
</nav>
<div class="box_1">
    <h1 class="titulo_da_tela">Produtos</h1>
    <div class="box_2">
        <div class="box_pesquisa">
            <button>🔎</button>
            <input type="text" placeholder="O que você está procurando?">
        </div>
        <button class="btn_add" routerLink="/registration_customers">Adicionar cliente</button>
    </div>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>CPF</th>
                <th>Criado em</th>
                <th>Atualizado em</th>
            </tr>
        </thead>
        <tbody>
            @for (item of customers; track $index){
            <tr>
                <td>{{item.id}}</td>
                <td>{{item.name}}</td>
                <td>{{item.cpf}}</td>
                <td>{{item.createdAt}}</td>
                <td>{{item.updatedAt}}</td>
            </tr>
            }
        </tbody>
    </table>
</div>
<footer>
    <p>Todos os direitos reservados a ABP Frontend</p>
</footer>