<div class="container">  
  <div class="login-box">
    <h1 class="spacing-top">Log in</h1>
    <div class="input-container">
      <div class="fas fa-envelope input-icon" aria-hidden="true"></div>
      <input type="text" placeholder="E-mail" name="email" required>
    </div>
    <div class="input-container">
      <div class="fas fa-lock input-icon" aria-hidden="true"></div>
      <input type="password" placeholder="Password" name="password" required>
    </div>
    <button type="submit">Entrar</button>
  </div>
</div>