
<div class="hamburger-menu" (click)="toggleSidebar()">
  <span [class.open]="sidebarOpen"></span>
  <span [class.open]="sidebarOpen"></span>
  <span [class.open]="sidebarOpen"></span>
</div>

<nav class="sidebar" [class.active]="sidebarOpen">
  <a routerLink="/home" (click)="toggleSidebar()">Home</a>
  <a routerLink="/customers" (click)="toggleSidebar()">Clientes</a>
  <a routerLink="/products" (click)="toggleSidebar()">Produtos</a>
  <a routerLink="/suppliers" (click)="toggleSidebar()">Fornecedores</a>
</nav>
