
<div class="box_1">
  <app-search-bar 
    placeholder="O que você está procurando?" 
    buttonText="Adicionar produto"
    (buttonClick)="toggleProductModal()"
    (searchChange)="onSearchChange($event)"
    (searchSubmit)="onSearchSubmit($event)">
  </app-search-bar>

  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Foto</th>
        <th>Nome</th>
        <th>Código</th>
        <th>Preço</th>
        <th>Custo</th>
        <th>Quantidade</th>
        <th>Criado em</th>
        <th>Atualizado em</th>
        <th>#</th>
        <th>#</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of products; index as i">
        <td>{{ item.id }}</td>
        <td>{{ item.photo }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.code }}</td>
        <td>{{ item.price }}</td>
        <td>{{ item.cost }}</td>
        <td>{{ item.quantity }}</td>
        <td>{{ item.createdAt }}</td>
        <td>{{ item.updatedAt }}</td>
        <td><button class="btn_edit" (click)="openEditModal(item)">Alterar</button></td>
        <td><button class="btn_delete" (click)="openDeleteModal(item)">Excluir</button></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="modal_overlay" *ngIf="showProductFormModal">
  <div class="modal_box">
    <h2>Cadastrar Produto</h2>
    <form (ngSubmit)="saveProduct()">
      <div class="form_group">
        <label>Nome:</label>
        <input type="text" [(ngModel)]="productModel.name" name="name" required />
      </div>
      <div class="form_group">
        <label>Preço:</label>
        <input type="text" [(ngModel)]="productModel.price" name="price" required />
      </div>
      <div class="form_group">
        <label>Custo:</label>
        <input type="text" [(ngModel)]="productModel.cost" name="cost" required />
      </div>
      <div class="form_group">
        <label>Quantidade:</label>
        <input type="text" [(ngModel)]="productModel.quantity" name="quantity" required />
      </div>
      <div class="form_actions">
        <button type="submit" class="btn_add">Salvar</button>
        <button type="button" (click)="toggleProductModal()" class="btn_close">Cancelar</button>
      </div>
    </form>
  </div>
</div>

<div *ngIf="showEditModal" class="modal_overlay">
  <div class="modal_box">
    <h2>Editar Produto</h2>
    <form>
      <div class="form_group">
        <label>Nome:</label>
        <input [(ngModel)]="productToEdit.name" name="editName" type="text" required />
      </div>
      <div class="form_group">
        <label>Preço:</label>
        <input [(ngModel)]="productToEdit.price" name="editPrice" type="text" required />
      </div>
      <div class="form_group">
        <label>Custo:</label>
        <input [(ngModel)]="productToEdit.cost" name="editCost" type="text" required />
      </div>
      <div class="form_group">
        <label>Quantidade:</label>
        <input [(ngModel)]="productToEdit.quantity" name="editQuantity" type="text" required />
      </div>
      <div class="form_actions">
        <button type="button" (click)="saveEditedProduct()" class="btn_add">Salvar</button>
        <button type="button" (click)="cancelEdit()" class="btn_close">Cancelar</button>
      </div>
    </form>
  </div>
</div>

<div class="modal_overlay" *ngIf="showDeleteModal">
  <div class="modal_box">
    <h2>Exclusão de Produto</h2>
    <form (submit)="confirmDeletion()">
      <p>Você tem certeza que deseja excluir <strong>{{ productToDelete?.name }}</strong> (ID:
        <strong>{{ productToDelete?.id }}</strong>)?</p>
      <div class="form_actions">
        <button type="submit" class="btn_delete">Excluir</button>
        <button type="button" (click)="cancelDeletion()" class="btn_close">Cancelar</button>
      </div>
    </form>
  </div>
</div>