* {
    padding: 0;
    margin: 0;
}

body {
  background-color: #2a2a28;
  min-height: 100vh;                    
}

.header{
  background-color: rgb(39, 144, 214);
  width: 99%;
  height: 5vh;
  padding-left: 0.5%;
  padding-right: 0.5%;
  display: flex;
  align-items: center;   
}

.header img {
  position: absolute;
  right: 0.5%;
  width: 35px;
  height: 35px;
}