* {
    padding: 0;
    margin: 0;
}

body {
  background-color: #2a2a28;
  min-height: 100vh;           
  font-family: Arial, Helvetica, sans-serif;         
}

.box_1 {
    margin-top: 6vh;
    margin-bottom: 6vh;
    margin-left: auto;
    margin-right: auto;
    min-height: 85vh;
    width: 1200px;
    background-color: white;
    padding: 40px 0px;
    border-radius: 10px;
}
